<section class="benefits-section">

  <div class="container">

    <!-- Heading -->
    <div class="section-header">

      <h2>Benefits of Solar Energy</h2>

      <p>
        Discover why thousands of homeowners are making the switch
        to clean,renewable solar power
      </p>

    </div>

    <!-- Benefits Grid -->
    <div class="benefits-grid">

      <!-- Item 1 -->
      <div class="benefit-item">
        <div class="benefit-top">
          <div class="icon-box">
            <i class="fa-solid fa-indian-rupee-sign"></i>
          </div>
          <h3>Lower Electricity Bills</h3>
        </div>
        <p>
          Save up to 70%-90% on your monthly electricity costs with solar energy.
        </p>
      </div>

      <!-- Item 2 -->
      <div class="benefit-item">
        <div class="benefit-top">
          <div class="icon-box">
            <i class="fa-solid fa-building-columns"></i>
          </div>
          <h3>Govt. Subsidy Support</h3>
        </div>
        <p>
          Get central and state government subsidies on residential solar installations.
        </p>
      </div>

      <!-- Item 3 -->
      <div class="benefit-item">
        <div class="benefit-top">
          <div class="icon-box">
            <i class="fa-solid fa-bolt"></i>
          </div>
          <h3>Energy Independence</h3>
        </div>
        <p>
          Protect yourself from rising energy costs and grid outages.
        </p>
      </div>

      <!-- Item 4 -->
      <div class="benefit-item">
        <div class="benefit-top">
          <div class="icon-box">
            <i class="fa-solid fa-chart-line"></i>
          </div>
          <h3>Long-Term Investment</h3>
        </div>
        <p>
          Solar panels last 25+ years with minimal maintenance required.
        </p>
      </div>

      <!-- Item 5 -->
      <div class="benefit-item">
        <div class="benefit-top">
          <div class="icon-box">
            <i class="fa-solid fa-arrow-trend-down"></i>
          </div>
          <h3>Low Maintenance System</h3>
        </div>
        <p>
          Solar systems require minimal maintenance and operate reliably for decades.
        </p>
      </div>

      <!-- Item 6 -->
      <div class="benefit-item">
        <div class="benefit-top">
          <div class="icon-box">
            <i class="fa-solid fa-leaf"></i>
          </div>
          <h3>Eco-Friendly</h3>
        </div>
        <p>
          Reduce your carbon footprint and contribute to a cleaner environment.
        </p>
      </div>

    </div>

  </div>

</section>