/* =========================
   BENEFITS SECTION
========================= */

.benefits-section {
  font-family: "Segoe UI", "Roboto", sans-serif;
  padding: 5px clamp(20px, 4vw, 60px);
  background: rgba(154, 149, 144, 0.2);
  backdrop-filter: blur(8px);
  overflow: hidden;
}

/* =========================
   HEADER
========================= */

.section-header {
  text-align: center;
  max-width: 850px;
  margin: 0 auto 30px;
}

.section-header h2 {
  font-size: 40px;
  font-weight: 700;
  color: #111;
  margin-bottom: 10px;
}

.section-header p {
  font-size: 22px;
  line-height: 1.7;
  color: #555;
}

/* =========================
   GRID
========================= */

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 30px;
  align-items: start;
}

/* =========================
   ITEM
========================= */

.benefit-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.benefit-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* =========================
   ICON
========================= */

.icon-box {
  min-width: 45px;
  height: 45px;
  background: #08b33e;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
  flex-shrink: 0;
}

.fa-solid {
  font-size: 22px;
}

/* =========================
   CONTENT
========================= */

.benefit-top h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 22px;
  font-weight: 700;
  color: #111;
}

.benefit-item p {
  margin: 0;
  padding-left: 55px;
  padding-top: 4px;
  font-size: 17px;
  line-height: 1.3;
  color: #555;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 992px) {
  .benefits-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .benefits-section {
    padding: 40px 20px;
  }

  .section-header h2 {
    font-size: 30px;
  }

  .section-header p {
    font-size: 18px;
  }

  .benefits-grid {
    grid-template-columns: 1fr;
  }
}