<footer class="footer-container">
    <div class="footer-links">
        <div class="footer-section">
            <h3>Our Businesses</h3>
            <ul>
                <!-- <li><i class="fa-solid fa-angle-right"></i><a href="software-development">Software Development</a></li> -->
                <li><i class="fa-solid fa-angle-right"></i><a href="solar-pv-plant">Solar PV Plant/EV/Batteries</a></li>
                <!-- <li><i class="fa-solid fa-angle-right"></i><a href="#">Customized Industrial Solutions</a></li> -->
                <li><i class="fa-solid fa-angle-right"></i><a href="pcb-design-development">PCB Design, Development & Fabrication</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="3d-design-printing-service">3D Prototype Product
                        Design & Printing</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="digital-agri-village">Digital Agri Village Products
                        & Solutions</a></li>
                <!-- <li><i class="fa-solid fa-angle-right"></i><a href="#">Electromechanical Product Design &
                        Development</a></li> -->
            </ul>
        </div>

        <div class="footer-section">
            <h3>Useful Links</h3>
            <ul>
                <li><i class="fa-solid fa-angle-right"></i><a href="#">Home</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="about-us">About Us</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="/our-products">Our Products</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="/retail-products">Retail Products</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="#">Dealers & Distributorship</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><i class="fa-solid fa-angle-right"></i><a href="/contact-us">Contact Us</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="/privacy-policy">Privacy Policy</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="#">Shipping Policy</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="#">Refund Policy</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="/terms&conditions">Terms & Conditions</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Media & Discourse</h3>
            <ul>
                <li><i class="fa-solid fa-angle-right"></i><a href="#">Awards</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="#">Research</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="#">Patents</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="#">Images & Videos</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Contact Us</h3>
            <ul>
                <li><fa-icon [icon]="location" class="contact-icon"></fa-icon><a
                        href="https://maps.app.goo.gl/VN1ZwvcQA7bRk9cX7" target="_blank">
                        Tadoba Solutions Pvt. Ltd.<br> Sejbahar, Raipur (C.G.) 492015, India</a></li>
                <li><fa-icon [icon]="contact" class="contact-icon"></fa-icon><a href="tel:+919685778971">+91
                        96857-78971</a></li>
                <li><fa-icon [icon]="email" class="contact-icon"></fa-icon><a
                        href="mailto:info@tadobasolutions.com">info&#64;tadobasolutions.com</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="social-section">
            <div class="circle instgram">
                <a href="https://www.instagram.com/tadobasolutions/" target="_blank"><fa-icon
                        [icon]="instgram"></fa-icon></a>
            </div>
            <div class="circle twitter">
                <a href="https://twitter.com/tadobal" target="_blank"><fa-icon [icon]="twitter"></fa-icon></a>
            </div>
            <div class="circle facebook">
                <a href="https://www.facebook.com/tadobasolutions/" target="_blank"><fa-icon
                        [icon]="facebook"></fa-icon></a>
            </div>
            <div class="circle youtube">
                <a href="https://www.youtube.com/@tadobasolutionsprivatelimi3893" target="_blank"><fa-icon
                        [icon]="youtube"></fa-icon></a>
            </div>
        </div>
        <p>&copy; 2026 Tadoba Solutions Pvt. Ltd. All rights reserved.</p>
        <p>Developed by Tadoba Solutions Pvt. Ltd.</p>
    </div>
</footer>