<section class="process-section">
  <div class="process-track">
    <div class="process-step" *ngFor="let s of steps">
      <div class="step-icon-wrap">
        <i [class]="s.icon"></i>
      </div>
      <h4>{{ s.step }}</h4>
      <p>
        {{ s.description }}
        <a *ngIf="s.link" [href]="s.link.url" target="_blank">{{
          s.link.text
        }}</a>
      </p>
    </div>

    <!-- ADD INSIDE .process-track, right after the closing </div> of the last process-step -->

    <div class="process-edge-icon process-edge-icon--left">
      <img
        src="https://res.cloudinary.com/duk8n3cqw/image/upload/v1790918472/2_zqf1e6.png"
        alt="Plug connector icon"
      />
    </div>

    <div class="process-edge-icon process-edge-icon--right">
      <img
        src="https://res.cloudinary.com/duk8n3cqw/image/upload/v1790918470/1_ahsf6g.png"
        alt="Solar panel icon"
      />
    </div>
  </div>
</section>
