<section class="app-content-overlay">

  <!-- TOP RIGHT CONTENT -->
  <div class="top-content">

    <h2>
      Single MobileApp
      <span>ALL SOLUTIONS</span>
    </h2>

    <div class="features-row">

      <div class="feature-item">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <p>Installation<br>Tracking</p>
      </div>

      <div class="feature-item">
        <i class="fa-solid fa-clock"></i>
        <p>Real-Time <br>Update</p>
      </div>

      <div class="feature-item">
        <i class="fa-solid fa-headset"></i>
        <p>Complaint Management</p>
      </div>

      <div class="feature-item">
        <i class="fa-solid fa-file-circle-check"></i>
        <p>Bill <br>Transparency</p>
      </div>

    </div>

  </div>

  <!-- LEFT CONTENT -->
  <div class="left-content">

    <!-- LOGO + TEXT -->
    <div class="logo-wrapper">

      <img
        src="/assets/images/solar-pv/app/logo2.jpeg"
        alt="Logo"
        class="overlay-logo"
      >

      <div class="logo-text">

        <h3>Tadoba Solar</h3>

        <span>MobileApp</span>

      </div>

    </div>

    <!-- MAIN HEADING -->
    <h1>
      YOUR SOLAR JOURNEY
      <span>SIMPLIFIED</span>
    </h1>

    <!-- DESCRIPTION -->
    <p class="description">
      Tadoba Solar is your all-in-one solution for solar
      installation tracking and post-installation support.
      From rooftop to Utility Scale Solar power plants,
      we make solar management easy, transparent and efficient.
    </p>

    <!-- PLAYSTORE BUTTON -->
    <a href="https://play.google.com/store/apps/details?id=com.tadobasolutions.sauryatrack&hl=en" target="_blank" class="playstore-btn">

      <i class="fa-brands fa-google-play"></i>

      <div>
        <small>GET IT ON</small>
        <strong>Google Play</strong>
      </div>

    </a>

  </div>

  <!-- BOTTOM STRIP -->
  <div class="bottom-strip">

    <img
      src="/assets/images/solar-pv/app/logo2.jpeg"
      alt=""
    >

    <div>

      <h3>DOWNLOAD TADOBA SOLAR APP TODAY</h3>

      <p>
        Your Solar Journey, Now in Your Hand
      </p>

    </div>

  </div>

</section>