<section class="map-section">

  <div class="container map-container">

    <!-- LEFT CONTENT -->
    <div class="map-content">

      <h2>
        Transforming the Country <br>
        with Green Energy Solutions
      </h2>

      <p>
        We provide reliable residential and commercial solar solutions,
        including solar installation, O&M services, and expert solar consultation.
        Our goal is to deliver sustainable, efficient, and cost-effective energy
        solutions for a greener future.
      </p>

      <!-- STATS -->
      <div class="map-stats">

        <div class="stat-item">

          <h3>515 kW+</h3>

          <span>Developed Portfolio</span>

        </div>

        <div class="stat-item orange">

          <h3>200 kW+</h3>

          <span>Under Development</span>

        </div>

      </div>

    </div>

    <!-- RIGHT IMAGE -->
    <div class="map-image">

      <img
        src="assets/images/solar-pv/map/1.png"
        alt="india Solar Coverage"
      >

    </div>

  </div>

</section>