<div class="top-bar">
    <div class="contact-section">
        <mat-icon>location_on</mat-icon>
        <a href="https://maps.app.goo.gl/VN1ZwvcQA7bRk9cX7" target="_blank">
            <h6>Sejbahar, Raipur (C.G.), 492015</h6>
        </a>
        <span>&#124;</span>
        <mat-icon>phone</mat-icon>
        <a href="tel:+91 9685778971">
            <h6>+91 9685778971</h6>
        </a>
        <span>&#124;</span>
        <fa-icon [icon]="whatsapp"></fa-icon>
        <a href="tel:+91 9685778971">
            <h6>+91 8896444447</h6>
        </a>
        <span>&#124;</span>
        <mat-icon>mail_outline</mat-icon>
        <a href="mailto:info@tadobasolutions.com">
            <h6>info&#64;tadobasolutions.com</h6>
        </a>
    </div>
    <div class="social-section">
        <div class="circle instgram">
            <a href="https://www.instagram.com/tadobasolutions/" target="_blank"><fa-icon
                    [icon]="instagram"></fa-icon></a>
        </div>
        <div class="circle twitter">
            <a href="https://twitter.com/tadobal" target="_blank"><fa-icon [icon]="twitter"></fa-icon></a>
        </div>
        <div class="circle facebook">
            <a href="https://www.facebook.com/tadobasolutions/" target="_blank"><fa-icon
                    [icon]="facebook"></fa-icon></a>
        </div>
        <div class="circle youtube">
            <a href="https://www.youtube.com/@tadobasolutionsprivatelimi3893" target="_blank"><fa-icon
                    [icon]="youtube"></fa-icon></a>
        </div>
    </div>
</div>