<div class="wrapper">
    <div class="left">
        <div class="left-content">
            <div class="qr-div">
                <img src="./assets/images/qr.png" alt="QR Code" class="qr-code" />
            </div>
            <div class="instructions">
                <p>Scan the QR code to register</p>
                <p>and</p>
                <p>get started ...</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="right-content">
            <h1>Register Here</h1>
            <a href="https://forms.gle/8n8P5xcC9z5dXAx1A" target="_blank" rel="noopener" class="button-link">Click
                Here</a>
        </div>
    </div>
</div>

<div class="mobile-wrapper">
    <div class="mobile-qr-div">
        <img src="./assets/images/qr.png" alt="QR Code" class="mobile-qr-code" />
    </div>
    <a href="https://forms.gle/8n8P5xcC9z5dXAx1A" target="_blank" rel="noopener" class="mobile-button-link">
        Click Here to Register
    </a>
</div>