<section class="finance-section">

  <!-- HEADER -->
  <div class="finance-header">

    <!-- <div class="finance-badge">
       FINANCING OPTIONS
    </div> -->

    <h2>
      Easy Financing for Your Solar Journey
    </h2>

    <p>
      Flexible loan options with competitive interest rates
      to make solar energy more affordable for you.
    </p>

  </div>

  <!-- CARDS -->
  <div class="finance-grid">

    <!-- CARD 1 -->
    <div class="finance-card green-card">

      <div class="loan-badge green-badge">
        LOAN AMOUNT
      </div>

      <h3>
        Up to 3kW
      </h3>

      <div class="finance-divider green-divider"></div>

      <span class="interest-label">
        INTEREST RATE
      </span>

      <h4 class="green-text">
        5.75% - 6%
      </h4>

    </div>

    <!-- CARD 2 -->
    <div class="finance-card blue-card">

      <div class="loan-badge blue-badge">
        LOAN AMOUNT
      </div>

      <h3>
        Above 3kW
      </h3>

      <div class="finance-divider blue-divider"></div>

      <span class="interest-label">
        INTEREST RATE
      </span>

      <h4 class="blue-text">
        7.75% - 9%
      </h4>

    </div>

  </div>

  <!-- NOTE -->
  <div class="finance-note">

    <i class="fa-solid fa-info-circle"></i>

    <p>
      Interest rates may vary depending on bank policies,
      credit profile and loan tenure
    </p>

  </div>

</section>
